pkgbase = calamares
	pkgdesc = calamares: supply by penguins-eggs project
	pkgver = 3.3.14
	pkgrel = 2
	url = https://codeberg.org/Calamares/calamares
	arch = i686
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = boost
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = qt6-translations
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = ki18n
	depends = kiconthemes
	depends = kpmcore
	depends = libpwquality
	depends = polkit-qt6
	depends = python
	depends = python-jsonschema
	depends = python-yaml
	depends = qt6-svg
	depends = solid
	depends = squashfs-tools
	depends = yaml-cpp
	provides = calamares=3.3.14
	options = !debug
	source = https://codeberg.org/Calamares/calamares/releases/download/v3.3.14/calamares-3.3.14.tar.gz
	sha256sums = 5547f80db067dea923ae693ba6bb88eb2b2eeac1da3ebec42fce453e31c290c0

pkgname = calamares
