pkgbase = penguins-eggs
	pkgdesc = A console tool that allows you to remaster your system and redistribute it as live images on USB sticks or via PXE
	pkgver = 25.9.8
	pkgrel = 2
	url = https://penguins-eggs.net
	arch = any
	license = GPL2
	makedepends = pnpm
	depends = arch-install-scripts
	depends = dosfstools
	depends = efibootmgr
	depends = erofs-utils
	depends = findutils
	depends = git
	depends = grub
	depends = jq
	depends = libarchive
	depends = libisoburn
	depends = lvm2
	depends = manjaro-tools-iso
	depends = mkinitcpio-nfs-utils
	depends = mtools
	depends = nbd
	depends = nodejs
	depends = pacman-contrib
	depends = parted
	depends = procps-ng
	depends = pv
	depends = python
	depends = rsync
	depends = squashfs-tools
	depends = sshfs
	depends = wget
	depends = xdg-utils
	optdepends = bash-completion: eggs autocomplete
	optdepends = calamares: system installer GUI
	optdepends = zsh-completions: eggs autocomplete
	options = !strip
	source = git+https://github.com/pieroproietti/penguins-eggs.git#commit=e5917eb9465c55db88427d41bc4dcd7404cccef9
	source = bootloaders.tar.gz::https://github.com/pieroproietti/penguins-eggs/releases/download/v25.8.24/bootloaders.tar.gz
	sha256sums = c08b51af8374d2443db7d5ea406dc0d20ec1d7191da8d9dd15c29d2a6744de7c
	sha256sums = b5fd16c780c21c3976dd47f3bd97ef78073873017d8bf8a0a04c929df3db95a7

pkgname = penguins-eggs
