pkgbase = calamares-eggs
	pkgdesc = calamares-eggs: supply by penguins-eggs project
	pkgver = 3.4.0
	pkgrel = 1
	url = https://codeberg.org/Calamares/calamares
	arch = i686
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = boost
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = qt6-translations
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = ki18n
	depends = kiconthemes
	depends = kpmcore
	depends = libpwquality
	depends = polkit-qt6
	depends = python
	depends = python-jsonschema
	depends = python-yaml
	depends = qt6-svg
	depends = solid
	depends = squashfs-tools
	depends = yaml-cpp
	provides = calamares=3.4.0
	conflicts = calamares
	conflicts = calamares
	source = git+https://codeberg.org/Calamares/calamares#commit=c9e49988651a1c7c2881810ec465446a1f96d822
	sha256sums = 03a3f78232308d7522a8391b77c996d64a36278a8c06750bc25aa26d2ea64f67

pkgname = calamares-eggs
