pkgbase = penguins-eggs
	pkgdesc = A console tool that allows you to remaster your system and redistribute it as live images on USB sticks or via PXE
	pkgver = 25.8.23
	pkgrel = 5
	url = https://penguins-eggs.net
	arch = any
	license = GPL2
	makedepends = pnpm
	depends = arch-install-scripts
	depends = cryptsetup
	depends = dosfstools
	depends = efibootmgr
	depends = erofs-utils
	depends = findutils
	depends = git
	depends = grub
	depends = jq
	depends = libarchive
	depends = libisoburn
	depends = lvm2
	depends = mkinitcpio-archiso
	depends = mkinitcpio-nfs-utils
	depends = mtools
	depends = nbd
	depends = nodejs
	depends = pacman-contrib
	depends = parted
	depends = procps-ng
	depends = pv
	depends = python
	depends = rsync
	depends = squashfs-tools
	depends = sshfs
	depends = syslinux
	depends = wget
	depends = xdg-utils
	optdepends = bash-completion: eggs autocomplete
	optdepends = calamares: system installer GUI
	optdepends = zsh-completions: eggs autocomplete
	options = !strip
	source = git+https://github.com/pieroproietti/penguins-eggs.git#commit=39d5b71244b76cb68f7398acc8ae0d3db7873f1d
	source = bootloaders.tar.gz::https://github.com/pieroproietti/penguins-eggs/releases/download/v25.8.10/bootloaders.tar.gz
	sha256sums = 2753e1c4fff2f89b0d1a9d6138805e7618d1855b659968d9607fa49632e01363
	sha256sums = b87679fc108d86b406157bccc97a28e1d950afc6ab24d7da7c7cbebacb9690c4

pkgname = penguins-eggs
